#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

    default_layer {
        bindings = <
          &kp C_VOL_UP    &kp C_VOL_DN    &kp E    &kp R    &kp T    &kp K_MUTE
        >;

        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
  };
};
